body{
    height: 100vh;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

    width: 100%;
    height: 65px;
    background-color: red;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}
nav li{
    margin: 0 25px;
    list-style: none;
    font-weight: bold;
    color: aliceblue;
}

main{
    height: 60vh;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-color: grey;
}
